<ion-header>
    <ion-toolbar>
        <ion-title>hello</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>

                    <ion-item>
                        <ion-avatar slot="start">
                            <img [src]="lenguajes.imagen" [alt]="lenguajes.name">
                        </ion-avatar>
                        <ion-label>{{lenguajes.name}}</ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>